header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid black;
}